
<h3>Ejemplo mala practica| Texto comentado</h3>


<!-- <div class="card m-3">

    <div class="card-body">

        <div class="form-group form-inline tex-lef">
            <label class="mr-4" for="">Title</label>
            <input type="text" class="form-control col-10" #tittle>
        </div>
        <div class="form-group form-inline tex-lef ">
            <label class="mr-4" for="">Body</label>
            <input type="text" class="form-control col-10" #body>  
        </div>

        <button class="btn btn-block btn-primary" (click)="agregar({userId:'10',tittle:tittle.value,body:body.value})">Enviar</button>

    </div>

</div> -->

<hr>

<h3>Binding.</h3>

<form #form="ngForm" class="col-6 offset-3" (ngSubmit)="agregar()">

    <div class="form-group">
        <label class="mr-4" for="">UserId</label>
        <input  [(ngModel)]="Mipersona.userId" type="text"  name="userId" class="form-control">
    </div>
    
    <div class="form-group">
        <label class="mr-4" for="">Tittle</label>
        <input  [(ngModel)]="Mipersona.title" type="text" name="title" class="form-control">
    </div>

    <div class="form-group">
        <label class="mr-4" for="">Body</label>
        <input  [(ngModel)]="Mipersona.body" type="text" name="body" class="form-control">
    </div>

    <button class="btn-success" type="submit">Enviar2</button>

</form>

<hr>
<h3>Prueba Biding</h3>

<form class="col-6 offset-3" action="">

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="{{Mipersona.userId}}">
        <label for="floatingInput">UserId</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="{{Mipersona.title}}">
        <label for="floatingPassword">Title</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="{{Mipersona.body}}">
        <label for="floatingPassword">Body</label>
      </div>

</form>




